@page "/"

<MudPaper Class="homepage-wrapper" Elevation="0">

    <div class="carousel-section">
        <MudCarousel Class="mud-width-full animated-carousel"
                     Style="height:500px;"
                     ShowArrows="@arrows"
                     ShowBullets="@bullets"
                     EnableSwipeGesture="@enableSwipeGesture"
                     AutoCycle="@autocycle"
                     TData="object">
            <MudCarouselItem Transition="transition">
                <div class="carousel-item-content">
                    
                    <div class="carousel-caption zoom-in">
                        <MudText Typo="Typo.h4" Class="text-white">Explore Our Auctions</MudText>
                        <MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="@(() => NavigateTo("/auctions"))">
                            View Auctions
                        </MudButton>
                    </div>
                </div>
            </MudCarouselItem>

            <MudCarouselItem Transition="transition">
                <div class="carousel-item-content">
                   
                    <div class="carousel-caption zoom-in">
                        <MudText Typo="Typo.h4" Class="text-white">Search Thousands of Vehicles</MudText>
                        <MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="@(() => NavigateTo("/search/suv"))">
                            Search Now
                        </MudButton>
                    </div>
                </div>
            </MudCarouselItem>

            <MudCarouselItem Transition="transition">
                <div class="carousel-item-content">
                   
                    <div class="carousel-caption zoom-in">
                        <MudText Typo="Typo.h4" Class="text-white">Join the Marketplace</MudText>
                        <MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="@(() => NavigateTo("/signup"))">
                            Get Started
                        </MudButton>
                    </div>
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </div>

</MudPaper>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    private void NavigateTo(string url)
    {
        NavigationManager.NavigateTo(url);
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;
}
